repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml

-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: ["-l", "120", "-S"]
    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: ["--profile", "black"]
